/* Bassis instellingen */
* {
/*    border: solid 2px black;*/
    margin: 0px;
    box-sizing: border-box;
    overflow:auto;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:#ffffff;  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .indxDiv {
    background-color: rgb(189, 189, 189);    
    text-align: center;
    opacity:0.75;
  }

/* music page layout */
.kolomlinks {
    width: 235px;
    float:left;
    margin: 10px;
}
.kolomRechts {
    width: calc(100% - 200px - 75px);
    float:right;
    margin: 10px;
}





/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(21, 3, 29);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:#000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #636363;
}

nav li a.active {
    background-color:#000000;
}




